-- AlterTable
ALTER TABLE "alerts" DROP CONSTRAINT "alerts_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "title" SET DATA TYPE TEXT,
ALTER COLUMN "issue" SET DATA TYPE TEXT,
ALTER COLUMN "state_code" SET DATA TYPE TEXT,
ALTER COLUMN "state_name" SET DATA TYPE TEXT,
ALTER COLUMN "current_amount" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "threshold_amount" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "penalty_risk" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "priority" SET DATA TYPE TEXT,
ALTER COLUMN "severity" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "type" SET DATA TYPE TEXT,
ALTER COLUMN "category" SET DATA TYPE TEXT,
ALTER COLUMN "deadline" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "detected_at" SET NOT NULL,
ALTER COLUMN "detected_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "resolved_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "assigned_to" SET DATA TYPE TEXT,
ALTER COLUMN "assigned_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "estimated_downtime" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "alerts_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "api_keys" DROP CONSTRAINT "api_keys_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "key_name" SET DATA TYPE TEXT,
ALTER COLUMN "key_hash" SET DATA TYPE TEXT,
ALTER COLUMN "key_prefix" SET DATA TYPE TEXT,
ALTER COLUMN "permissions" SET NOT NULL,
ALTER COLUMN "active" SET NOT NULL,
ALTER COLUMN "last_used_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "usage_count" SET NOT NULL,
ALTER COLUMN "expires_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "api_keys_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "audit_log" DROP CONSTRAINT "audit_log_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "user_id" SET DATA TYPE TEXT,
ALTER COLUMN "action" SET DATA TYPE TEXT,
ALTER COLUMN "resource_type" SET DATA TYPE TEXT,
ALTER COLUMN "resource_id" SET DATA TYPE TEXT,
ALTER COLUMN "ip_address" SET DATA TYPE TEXT,
ALTER COLUMN "severity" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "audit_log_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "client_communications" DROP CONSTRAINT "client_communications_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "type" SET DATA TYPE TEXT,
ALTER COLUMN "subject" SET DATA TYPE TEXT,
ALTER COLUMN "user_id" SET DATA TYPE TEXT,
ALTER COLUMN "communication_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "follow_up_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "attachments" SET NOT NULL,
ALTER COLUMN "related_decision_id" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "client_communications_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "client_revenue_history" DROP CONSTRAINT "client_revenue_history_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "state_code" SET DATA TYPE TEXT,
ALTER COLUMN "period_start" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "period_end" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "revenue" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "client_revenue_history_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "client_states" DROP CONSTRAINT "client_states_pkey",
DROP COLUMN "days_since_threshold",
DROP COLUMN "filing_frequency",
DROP COLUMN "last_filing_date",
DROP COLUMN "next_filing_date",
DROP COLUMN "penalty_max",
DROP COLUMN "penalty_min",
DROP COLUMN "projected_crossover_date",
DROP COLUMN "registration_status",
DROP COLUMN "revenue",
DROP COLUMN "threshold",
DROP COLUMN "threshold_percentage",
DROP COLUMN "transaction_count",
DROP COLUMN "transaction_threshold",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "state_code" SET DATA TYPE TEXT,
ALTER COLUMN "state_name" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DEFAULT 'monitoring',
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "registration_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "registration_number" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "client_states_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "clients" DROP CONSTRAINT "clients_pkey",
DROP COLUMN "founded_year",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "name" SET DATA TYPE TEXT,
ALTER COLUMN "legal_name" SET DATA TYPE TEXT,
ALTER COLUMN "tax_id" SET DATA TYPE TEXT,
ALTER COLUMN "industry" SET DATA TYPE TEXT,
ALTER COLUMN "annual_revenue" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "fiscal_year_end" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "risk_level" SET DATA TYPE TEXT,
ALTER COLUMN "penalty_exposure" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "assigned_partner" SET DATA TYPE TEXT,
ALTER COLUMN "assigned_manager" SET DATA TYPE TEXT,
ALTER COLUMN "assigned_staff" SET DATA TYPE TEXT[],
ALTER COLUMN "assigned_since" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "last_review" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "next_review" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "primary_contact_name" SET DATA TYPE TEXT,
ALTER COLUMN "primary_contact_email" SET DATA TYPE TEXT,
ALTER COLUMN "primary_contact_phone" SET DATA TYPE TEXT,
ALTER COLUMN "address_line1" SET DATA TYPE TEXT,
ALTER COLUMN "address_line2" SET DATA TYPE TEXT,
ALTER COLUMN "city" SET DATA TYPE TEXT,
ALTER COLUMN "state" SET DATA TYPE TEXT,
ALTER COLUMN "postal_code" SET DATA TYPE TEXT,
ALTER COLUMN "country" SET NOT NULL,
ALTER COLUMN "country" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "avatar_url" SET DATA TYPE TEXT,
ALTER COLUMN "custom_fields" SET NOT NULL,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "clients_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "comments" DROP CONSTRAINT "comments_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "user_id" SET DATA TYPE TEXT,
ALTER COLUMN "resource_type" SET DATA TYPE TEXT,
ALTER COLUMN "resource_id" SET DATA TYPE TEXT,
ALTER COLUMN "parent_comment_id" SET DATA TYPE TEXT,
ALTER COLUMN "edited" SET NOT NULL,
ALTER COLUMN "edited_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "deleted" SET NOT NULL,
ALTER COLUMN "deleted_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "comments_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "compliance_standards" DROP CONSTRAINT "compliance_standards_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "standard_name" SET DATA TYPE TEXT,
ALTER COLUMN "standard_code" SET DATA TYPE TEXT,
ALTER COLUMN "category" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "last_review_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "next_review_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "reviewed_by" SET DATA TYPE TEXT,
ALTER COLUMN "documentation_url" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "compliance_standards_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "consultations" DROP CONSTRAINT "consultations_pkey",
DROP COLUMN "created_by",
DROP COLUMN "lead_advisor",
DROP COLUMN "outcome_summary",
DROP COLUMN "participants",
DROP COLUMN "timezone",
ADD COLUMN     "advisory_package" TEXT,
ADD COLUMN     "alert_id" TEXT,
ADD COLUMN     "cancelled_at" TIMESTAMP(3),
ADD COLUMN     "completed_at" TIMESTAMP(3),
ADD COLUMN     "documents" TEXT[],
ADD COLUMN     "exposure_currency" TEXT NOT NULL DEFAULT 'USD',
ADD COLUMN     "follow_up_date" TIMESTAMP(3),
ADD COLUMN     "meeting_type" TEXT NOT NULL DEFAULT 'call',
ADD COLUMN     "notes" TEXT,
ADD COLUMN     "outcome" TEXT,
ADD COLUMN     "recording_url" TEXT,
ADD COLUMN     "talking_points" TEXT,
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "topic" SET DATA TYPE TEXT,
ALTER COLUMN "scheduled_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "scheduled_time" SET DATA TYPE TEXT,
ALTER COLUMN "duration" SET NOT NULL,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "prep_status" SET NOT NULL,
ALTER COLUMN "prep_status" SET DATA TYPE TEXT,
ALTER COLUMN "exposure_amount" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "follow_up_required" SET NOT NULL,
ALTER COLUMN "meeting_link" SET DATA TYPE TEXT,
ALTER COLUMN "meeting_location" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "consultations_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "documents" DROP CONSTRAINT "documents_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "name" SET DATA TYPE TEXT,
ALTER COLUMN "type" SET DATA TYPE TEXT,
ALTER COLUMN "category" SET DATA TYPE TEXT,
ALTER COLUMN "file_name" SET DATA TYPE TEXT,
ALTER COLUMN "file_type" SET DATA TYPE TEXT,
ALTER COLUMN "file_url" SET DATA TYPE TEXT,
ALTER COLUMN "file_path" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "version" SET NOT NULL,
ALTER COLUMN "parent_document_id" SET DATA TYPE TEXT,
ALTER COLUMN "visibility" SET NOT NULL,
ALTER COLUMN "visibility" SET DATA TYPE TEXT,
ALTER COLUMN "metadata" SET NOT NULL,
ALTER COLUMN "uploaded_at" SET NOT NULL,
ALTER COLUMN "uploaded_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "uploaded_by" SET DATA TYPE TEXT,
ALTER COLUMN "reviewed_by" SET DATA TYPE TEXT,
ALTER COLUMN "reviewed_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "approved_by" SET DATA TYPE TEXT,
ALTER COLUMN "approved_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "documents_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "generated_dashboards" ALTER COLUMN "organization_id" SET DATA TYPE TEXT;

-- AlterTable
ALTER TABLE "integrations" DROP CONSTRAINT "integrations_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "name" SET DATA TYPE TEXT,
ALTER COLUMN "type" SET DATA TYPE TEXT,
ALTER COLUMN "provider" SET DATA TYPE TEXT,
ALTER COLUMN "config" SET NOT NULL,
ALTER COLUMN "credentials" SET NOT NULL,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "last_sync" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "sync_frequency" SET DATA TYPE TEXT,
ALTER COLUMN "next_sync" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "error_count" SET NOT NULL,
ALTER COLUMN "last_error_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "version" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "integrations_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "notifications" DROP CONSTRAINT "notifications_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "user_id" SET DATA TYPE TEXT,
ALTER COLUMN "type" SET DATA TYPE TEXT,
ALTER COLUMN "title" SET DATA TYPE TEXT,
ALTER COLUMN "priority" SET NOT NULL,
ALTER COLUMN "priority" SET DATA TYPE TEXT,
ALTER COLUMN "read" SET NOT NULL,
ALTER COLUMN "read_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "action_url" SET DATA TYPE TEXT,
ALTER COLUMN "action_label" SET DATA TYPE TEXT,
ALTER COLUMN "related_resource_type" SET DATA TYPE TEXT,
ALTER COLUMN "related_resource_id" SET DATA TYPE TEXT,
ALTER COLUMN "delivery_method" SET NOT NULL,
ALTER COLUMN "delivery_method" SET DATA TYPE TEXT,
ALTER COLUMN "sent_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "expires_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "organization_metadata" DROP CONSTRAINT "organization_metadata_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "key" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "organization_metadata_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "organizations" DROP CONSTRAINT "organizations_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "slug" SET DATA TYPE TEXT,
ALTER COLUMN "name" SET DATA TYPE TEXT,
ALTER COLUMN "legal_name" SET DATA TYPE TEXT,
ALTER COLUMN "tax_id" SET DATA TYPE TEXT,
ALTER COLUMN "subscription_tier" SET NOT NULL,
ALTER COLUMN "subscription_tier" SET DATA TYPE TEXT,
ALTER COLUMN "subscription_status" SET NOT NULL,
ALTER COLUMN "subscription_status" SET DATA TYPE TEXT,
ALTER COLUMN "subscription_started_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "subscription_expires_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "settings" SET NOT NULL,
ALTER COLUMN "branding" SET NOT NULL,
ALTER COLUMN "features" SET NOT NULL,
ALTER COLUMN "email" SET DATA TYPE TEXT,
ALTER COLUMN "phone" SET DATA TYPE TEXT,
ALTER COLUMN "website" SET DATA TYPE TEXT,
ALTER COLUMN "address_line1" SET DATA TYPE TEXT,
ALTER COLUMN "address_line2" SET DATA TYPE TEXT,
ALTER COLUMN "city" SET DATA TYPE TEXT,
ALTER COLUMN "state" SET DATA TYPE TEXT,
ALTER COLUMN "postal_code" SET DATA TYPE TEXT,
ALTER COLUMN "country" SET NOT NULL,
ALTER COLUMN "country" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "organizations_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "performance_metrics" DROP CONSTRAINT "performance_metrics_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "metric_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "metric_type" SET DATA TYPE TEXT,
ALTER COLUMN "value" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "target" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "variance" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "unit" SET DATA TYPE TEXT,
ALTER COLUMN "category" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "performance_metrics_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "professional_decisions" DROP CONSTRAINT "professional_decisions_pkey",
DROP COLUMN "client_communication_documented",
DROP COLUMN "client_response",
DROP COLUMN "client_retention",
DROP COLUMN "communication_date",
DROP COLUMN "communication_participants",
DROP COLUMN "communication_summary",
DROP COLUMN "communication_type",
DROP COLUMN "compliance_status",
DROP COLUMN "court_ready",
DROP COLUMN "cpa_signature",
DROP COLUMN "hash_value",
DROP COLUMN "implementation_date",
DROP COLUMN "implementation_verified",
DROP COLUMN "integrity_verified",
DROP COLUMN "malpractice_defense",
DROP COLUMN "outcome_documentation",
DROP COLUMN "peer_review_comments",
DROP COLUMN "peer_review_completed",
DROP COLUMN "peer_review_date",
DROP COLUMN "peer_review_status",
DROP COLUMN "peer_reviewer_license",
DROP COLUMN "professional_liability",
DROP COLUMN "professional_reputation",
DROP COLUMN "regulatory_examination",
DROP COLUMN "revenue_impact",
DROP COLUMN "risk_mitigation",
DROP COLUMN "signature_timestamp",
DROP COLUMN "ssts_compliance",
DROP COLUMN "statutory_references",
DROP COLUMN "verification_method",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "decision_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "decision_type" SET DATA TYPE TEXT,
ALTER COLUMN "risk_level" SET DATA TYPE TEXT,
ALTER COLUMN "financial_exposure" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "peer_reviewer_id" SET DATA TYPE TEXT,
ALTER COLUMN "decision_maker_id" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "professional_decisions_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "regulatory_changes" DROP CONSTRAINT "regulatory_changes_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "title" SET DATA TYPE TEXT,
ALTER COLUMN "state_code" SET DATA TYPE TEXT,
ALTER COLUMN "federal" SET NOT NULL,
ALTER COLUMN "effective_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "announcement_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "impact_level" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "regulation_reference" SET DATA TYPE TEXT,
ALTER COLUMN "documentation_url" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "regulatory_changes_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "reports" DROP CONSTRAINT "reports_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "name" SET DATA TYPE TEXT,
ALTER COLUMN "report_type" SET DATA TYPE TEXT,
ALTER COLUMN "scheduled" SET NOT NULL,
ALTER COLUMN "schedule_frequency" SET DATA TYPE TEXT,
ALTER COLUMN "schedule_time" SET DATA TYPE TEXT,
ALTER COLUMN "recipients" SET DATA TYPE TEXT[],
ALTER COLUMN "visibility" SET NOT NULL,
ALTER COLUMN "visibility" SET DATA TYPE TEXT,
ALTER COLUMN "last_run_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "run_count" SET NOT NULL,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "reports_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "risk_factors" DROP CONSTRAINT "risk_factors_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "category" SET DATA TYPE TEXT,
ALTER COLUMN "factor_name" SET DATA TYPE TEXT,
ALTER COLUMN "likelihood" SET DATA TYPE TEXT,
ALTER COLUMN "impact" SET DATA TYPE TEXT,
ALTER COLUMN "mitigation_status" SET DATA TYPE TEXT,
ALTER COLUMN "mitigation_owner" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "last_review_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "next_review_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "risk_factors_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "state_tax_info" DROP CONSTRAINT "state_tax_info_pkey",
DROP COLUMN "active",
DROP COLUMN "annual_fee",
DROP COLUMN "compliance_notes",
DROP COLUMN "corporate_tax_rate",
DROP COLUMN "department_of_revenue_url",
DROP COLUMN "economic_nexus_threshold",
DROP COLUMN "filing_deadlines",
DROP COLUMN "filing_requirements",
DROP COLUMN "registration_fee",
DROP COLUMN "registration_portal_url",
DROP COLUMN "registration_process",
DROP COLUMN "sales_tax_rate",
DROP COLUMN "transaction_threshold",
ADD COLUMN     "is_active" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "last_updated" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "notes" TEXT,
ADD COLUMN     "penalty_rate" DECIMAL(65,30) NOT NULL DEFAULT 0.1,
ADD COLUMN     "registration_deadline" INTEGER NOT NULL DEFAULT 30,
ADD COLUMN     "threshold_amount" DECIMAL(65,30) NOT NULL,
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "state_code" SET DATA TYPE TEXT,
ALTER COLUMN "state_name" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "state_tax_info_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "task_steps" DROP CONSTRAINT "task_steps_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "task_id" SET DATA TYPE TEXT,
ALTER COLUMN "title" SET DATA TYPE TEXT,
ALTER COLUMN "completed" SET NOT NULL,
ALTER COLUMN "required" SET NOT NULL,
ALTER COLUMN "completed_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "completed_by" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "task_steps_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "tasks" DROP CONSTRAINT "tasks_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "client_id" SET DATA TYPE TEXT,
ALTER COLUMN "title" SET DATA TYPE TEXT,
ALTER COLUMN "category" SET DATA TYPE TEXT,
ALTER COLUMN "type" SET DATA TYPE TEXT,
ALTER COLUMN "priority" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "assigned_to" SET DATA TYPE TEXT,
ALTER COLUMN "assigned_by" SET DATA TYPE TEXT,
ALTER COLUMN "assigned_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "due_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "started_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "completed_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "estimated_hours" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "actual_hours" SET DATA TYPE DECIMAL(65,30),
ALTER COLUMN "progress" SET NOT NULL,
ALTER COLUMN "state_code" SET DATA TYPE TEXT,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "tasks_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "templates" DROP CONSTRAINT "templates_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "name" SET DATA TYPE TEXT,
ALTER COLUMN "category" SET DATA TYPE TEXT,
ALTER COLUMN "type" SET DATA TYPE TEXT,
ALTER COLUMN "subject" SET DATA TYPE TEXT,
ALTER COLUMN "variables" SET NOT NULL,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "usage_count" SET NOT NULL,
ALTER COLUMN "last_used_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "templates_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "user_permissions" DROP CONSTRAINT "user_permissions_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "user_id" SET DATA TYPE TEXT,
ALTER COLUMN "resource" SET DATA TYPE TEXT,
ALTER COLUMN "action" SET DATA TYPE TEXT,
ALTER COLUMN "granted" SET NOT NULL,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "user_permissions_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "user_sessions" DROP CONSTRAINT "user_sessions_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "user_id" SET DATA TYPE TEXT,
ALTER COLUMN "token" SET DATA TYPE TEXT,
ALTER COLUMN "ip_address" SET DATA TYPE TEXT,
ALTER COLUMN "expires_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "user_sessions_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "users" DROP CONSTRAINT "users_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "email" SET DATA TYPE TEXT,
ALTER COLUMN "password_hash" SET DATA TYPE TEXT,
ALTER COLUMN "mfa_enabled" SET NOT NULL,
ALTER COLUMN "mfa_secret" SET DATA TYPE TEXT,
ALTER COLUMN "first_name" SET DATA TYPE TEXT,
ALTER COLUMN "last_name" SET DATA TYPE TEXT,
ALTER COLUMN "display_name" SET DATA TYPE TEXT,
ALTER COLUMN "avatar_url" SET DATA TYPE TEXT,
ALTER COLUMN "title" SET DATA TYPE TEXT,
ALTER COLUMN "department" SET DATA TYPE TEXT,
ALTER COLUMN "cpa_license" SET DATA TYPE TEXT,
ALTER COLUMN "cpa_state" SET DATA TYPE TEXT,
ALTER COLUMN "cpa_expiration" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "role" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET NOT NULL,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "last_login" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "login_count" SET NOT NULL,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "webhook_deliveries" DROP CONSTRAINT "webhook_deliveries_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "webhook_id" SET DATA TYPE TEXT,
ALTER COLUMN "event_type" SET DATA TYPE TEXT,
ALTER COLUMN "status" SET DATA TYPE TEXT,
ALTER COLUMN "attempt_number" SET NOT NULL,
ALTER COLUMN "delivered_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "webhook_deliveries_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "webhooks" DROP CONSTRAINT "webhooks_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "organization_id" SET DATA TYPE TEXT,
ALTER COLUMN "name" SET DATA TYPE TEXT,
ALTER COLUMN "url" SET DATA TYPE TEXT,
ALTER COLUMN "secret" SET DATA TYPE TEXT,
ALTER COLUMN "active" SET NOT NULL,
ALTER COLUMN "retry_on_failure" SET NOT NULL,
ALTER COLUMN "max_retries" SET NOT NULL,
ALTER COLUMN "last_triggered_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "success_count" SET NOT NULL,
ALTER COLUMN "failure_count" SET NOT NULL,
ALTER COLUMN "created_at" SET NOT NULL,
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" SET NOT NULL,
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_by" SET DATA TYPE TEXT,
ADD CONSTRAINT "webhooks_pkey" PRIMARY KEY ("id");

-- DropTable
DROP TABLE "benchmarks";

-- DropTable
DROP TABLE "feature_flags";

-- DropTable
DROP TABLE "insurance_claims";

-- DropTable
DROP TABLE "insurance_policies";

-- DropTable
DROP TABLE "integration_logs";

-- DropTable
DROP TABLE "system_alerts";

-- CreateTable
CREATE TABLE "decision_tables" (
    "id" TEXT NOT NULL,
    "organization_id" TEXT NOT NULL,
    "client_id" TEXT NOT NULL,
    "decision_id" TEXT NOT NULL,
    "decision_type" TEXT NOT NULL,
    "decision_title" TEXT NOT NULL,
    "decision_description" TEXT NOT NULL,
    "decision_date" TIMESTAMP(3) NOT NULL,
    "decision_maker" TEXT NOT NULL,
    "decision_maker_role" TEXT NOT NULL,
    "risk_level" TEXT NOT NULL,
    "financial_exposure" DECIMAL(65,30),
    "exposure_currency" TEXT NOT NULL DEFAULT 'USD',
    "decision_rationale" TEXT NOT NULL,
    "supporting_evidence" TEXT[],
    "alternatives_considered" TEXT[],
    "peer_reviewer" TEXT,
    "peer_review_date" TIMESTAMP(3),
    "peer_review_notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "implementation_date" TIMESTAMP(3),
    "follow_up_required" BOOLEAN NOT NULL DEFAULT false,
    "follow_up_date" TIMESTAMP(3),
    "follow_up_notes" TEXT,
    "related_alerts" TEXT[],
    "related_tasks" TEXT[],
    "related_documents" TEXT[],
    "tags" TEXT[],
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "decision_tables_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "decision_tables_decision_id_key" ON "decision_tables"("decision_id");

-- CreateIndex
CREATE INDEX "decision_tables_client_id_idx" ON "decision_tables"("client_id");

-- CreateIndex
CREATE INDEX "decision_tables_decision_type_idx" ON "decision_tables"("decision_type");

-- CreateIndex
CREATE INDEX "decision_tables_decision_date_idx" ON "decision_tables"("decision_date");

-- CreateIndex
CREATE INDEX "decision_tables_status_idx" ON "decision_tables"("status");

-- CreateIndex
CREATE INDEX "decision_tables_risk_level_idx" ON "decision_tables"("risk_level");

-- CreateIndex
CREATE INDEX "audit_trails_client_id_idx" ON "audit_trails"("client_id");

-- CreateIndex
CREATE INDEX "audit_trails_entity_type_idx" ON "audit_trails"("entity_type");

-- CreateIndex
CREATE INDEX "audit_trails_performed_at_idx" ON "audit_trails"("performed_at");

-- CreateIndex
CREATE INDEX "audit_trails_action_idx" ON "audit_trails"("action");

-- CreateIndex
CREATE INDEX "business_locations_client_id_idx" ON "business_locations"("client_id");

-- CreateIndex
CREATE INDEX "business_locations_type_idx" ON "business_locations"("type");

-- CreateIndex
CREATE INDEX "clients_slug_idx" ON "clients"("slug");

-- CreateIndex
CREATE INDEX "communications_client_id_idx" ON "communications"("client_id");

-- CreateIndex
CREATE INDEX "communications_alert_id_idx" ON "communications"("alert_id");

-- CreateIndex
CREATE INDEX "communications_status_idx" ON "communications"("status");

-- CreateIndex
CREATE INDEX "communications_type_idx" ON "communications"("type");

-- CreateIndex
CREATE INDEX "communications_sent_date_idx" ON "communications"("sent_date");

-- CreateIndex
CREATE INDEX "consultations_scheduled_date_idx" ON "consultations"("scheduled_date");

-- CreateIndex
CREATE INDEX "consultations_prep_status_idx" ON "consultations"("prep_status");

-- CreateIndex
CREATE INDEX "contacts_client_id_idx" ON "contacts"("client_id");

-- CreateIndex
CREATE INDEX "contacts_role_idx" ON "contacts"("role");

-- CreateIndex
CREATE INDEX "data_processing_client_id_idx" ON "data_processing"("client_id");

-- CreateIndex
CREATE INDEX "data_processing_status_idx" ON "data_processing"("status");

-- CreateIndex
CREATE INDEX "data_processing_processed_at_idx" ON "data_processing"("processed_at");

-- CreateIndex
CREATE INDEX "geographic_distributions_client_id_idx" ON "geographic_distributions"("client_id");

-- CreateIndex
CREATE INDEX "geographic_distributions_state_code_idx" ON "geographic_distributions"("state_code");

-- CreateIndex
CREATE INDEX "nexus_activities_client_id_idx" ON "nexus_activities"("client_id");

-- CreateIndex
CREATE INDEX "nexus_activities_state_code_idx" ON "nexus_activities"("state_code");

-- CreateIndex
CREATE INDEX "nexus_activities_activity_type_idx" ON "nexus_activities"("activity_type");

-- CreateIndex
CREATE INDEX "nexus_activities_created_at_idx" ON "nexus_activities"("created_at");

-- CreateIndex
CREATE INDEX "nexus_alerts_client_id_idx" ON "nexus_alerts"("client_id");

-- CreateIndex
CREATE INDEX "nexus_alerts_state_code_idx" ON "nexus_alerts"("state_code");

-- CreateIndex
CREATE INDEX "nexus_alerts_priority_idx" ON "nexus_alerts"("priority");

-- CreateIndex
CREATE INDEX "nexus_alerts_status_idx" ON "nexus_alerts"("status");

-- CreateIndex
CREATE INDEX "nexus_alerts_alert_type_idx" ON "nexus_alerts"("alert_type");

-- CreateIndex
CREATE INDEX "revenue_breakdowns_client_id_idx" ON "revenue_breakdowns"("client_id");

-- CreateIndex
CREATE INDEX "revenue_breakdowns_category_idx" ON "revenue_breakdowns"("category");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clients" ADD CONSTRAINT "clients_assigned_manager_fkey" FOREIGN KEY ("assigned_manager") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clients" ADD CONSTRAINT "clients_assigned_partner_fkey" FOREIGN KEY ("assigned_partner") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clients" ADD CONSTRAINT "clients_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "alerts" ADD CONSTRAINT "alerts_assigned_to_fkey" FOREIGN KEY ("assigned_to") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "alerts" ADD CONSTRAINT "alerts_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "alerts" ADD CONSTRAINT "alerts_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tasks" ADD CONSTRAINT "tasks_assigned_to_fkey" FOREIGN KEY ("assigned_to") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tasks" ADD CONSTRAINT "tasks_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tasks" ADD CONSTRAINT "tasks_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "documents" ADD CONSTRAINT "documents_approved_by_fkey" FOREIGN KEY ("approved_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "documents" ADD CONSTRAINT "documents_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "documents" ADD CONSTRAINT "documents_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "documents" ADD CONSTRAINT "documents_reviewed_by_fkey" FOREIGN KEY ("reviewed_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "documents" ADD CONSTRAINT "documents_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "professional_decisions" ADD CONSTRAINT "professional_decisions_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "professional_decisions" ADD CONSTRAINT "professional_decisions_decision_maker_id_fkey" FOREIGN KEY ("decision_maker_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "professional_decisions" ADD CONSTRAINT "professional_decisions_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "professional_decisions" ADD CONSTRAINT "professional_decisions_peer_reviewer_id_fkey" FOREIGN KEY ("peer_reviewer_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_sessions" ADD CONSTRAINT "user_sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_permissions" ADD CONSTRAINT "user_permissions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_steps" ADD CONSTRAINT "task_steps_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "tasks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "alert_actions" ADD CONSTRAINT "alert_actions_alert_id_fkey" FOREIGN KEY ("alert_id") REFERENCES "alerts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliance_standards" ADD CONSTRAINT "compliance_standards_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "regulatory_changes" ADD CONSTRAINT "regulatory_changes_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "integrations" ADD CONSTRAINT "integrations_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "performance_metrics" ADD CONSTRAINT "performance_metrics_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_log" ADD CONSTRAINT "audit_log_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "organization_metadata" ADD CONSTRAINT "organization_metadata_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_states" ADD CONSTRAINT "client_states_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_states" ADD CONSTRAINT "client_states_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "nexus_alerts" ADD CONSTRAINT "nexus_alerts_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "nexus_alerts" ADD CONSTRAINT "nexus_alerts_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "nexus_activities" ADD CONSTRAINT "nexus_activities_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "nexus_activities" ADD CONSTRAINT "nexus_activities_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "data_processing" ADD CONSTRAINT "data_processing_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "data_processing" ADD CONSTRAINT "data_processing_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "business_profiles" ADD CONSTRAINT "business_profiles_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "business_profiles" ADD CONSTRAINT "business_profiles_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contacts" ADD CONSTRAINT "contacts_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contacts" ADD CONSTRAINT "contacts_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "business_locations" ADD CONSTRAINT "business_locations_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "business_locations" ADD CONSTRAINT "business_locations_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "revenue_breakdowns" ADD CONSTRAINT "revenue_breakdowns_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "revenue_breakdowns" ADD CONSTRAINT "revenue_breakdowns_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "customer_demographics" ADD CONSTRAINT "customer_demographics_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "customer_demographics" ADD CONSTRAINT "customer_demographics_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "geographic_distributions" ADD CONSTRAINT "geographic_distributions_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "geographic_distributions" ADD CONSTRAINT "geographic_distributions_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_trails" ADD CONSTRAINT "audit_trails_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_trails" ADD CONSTRAINT "audit_trails_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consultations" ADD CONSTRAINT "consultations_alert_id_fkey" FOREIGN KEY ("alert_id") REFERENCES "alerts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consultations" ADD CONSTRAINT "consultations_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consultations" ADD CONSTRAINT "consultations_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "communications" ADD CONSTRAINT "communications_alert_id_fkey" FOREIGN KEY ("alert_id") REFERENCES "alerts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "communications" ADD CONSTRAINT "communications_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "communications" ADD CONSTRAINT "communications_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "decision_tables" ADD CONSTRAINT "decision_tables_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "decision_tables" ADD CONSTRAINT "decision_tables_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "generated_dashboards" ADD CONSTRAINT "generated_dashboards_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_communications" ADD CONSTRAINT "client_communications_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_communications" ADD CONSTRAINT "client_communications_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_revenue_history" ADD CONSTRAINT "client_revenue_history_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "advisory_documents" ADD CONSTRAINT "advisory_documents_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "advisory_documents" ADD CONSTRAINT "advisory_documents_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "risk_factors" ADD CONSTRAINT "risk_factors_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "risk_factors" ADD CONSTRAINT "risk_factors_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comments" ADD CONSTRAINT "comments_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comments" ADD CONSTRAINT "comments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comments" ADD CONSTRAINT "comments_parent_comment_id_fkey" FOREIGN KEY ("parent_comment_id") REFERENCES "comments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "activity_feed" ADD CONSTRAINT "activity_feed_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "activity_feed" ADD CONSTRAINT "activity_feed_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "activity_feed" ADD CONSTRAINT "activity_feed_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "templates" ADD CONSTRAINT "templates_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reports" ADD CONSTRAINT "reports_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "api_keys" ADD CONSTRAINT "api_keys_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "webhooks" ADD CONSTRAINT "webhooks_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "webhook_deliveries" ADD CONSTRAINT "webhook_deliveries_webhook_id_fkey" FOREIGN KEY ("webhook_id") REFERENCES "webhooks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- RenameIndex
ALTER INDEX "idx_client_states_client" RENAME TO "client_states_client_id_idx";

-- RenameIndex
ALTER INDEX "idx_client_states_state_code" RENAME TO "client_states_state_code_idx";

-- RenameIndex
ALTER INDEX "idx_client_states_status" RENAME TO "client_states_status_idx";

-- RenameIndex
ALTER INDEX "idx_consultations_client" RENAME TO "consultations_client_id_idx";

-- RenameIndex
ALTER INDEX "idx_consultations_status" RENAME TO "consultations_status_idx";

-- RenameIndex
ALTER INDEX "idx_state_tax_info_state" RENAME TO "state_tax_info_state_code_idx";

